*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-image: url(Imágenes/libros3.jpeg);
}


body .intro{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blue;
}

button:hover{
    background-color: rgb(4, 242, 250);
    color: black;

}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-presentación{ 
    color: rgb(4, 242, 250);;
    font-family: cursive; 
                    
}


/* Visión de dispositivos Móviles */


header{
    background-color: rgb(255, 255, 255);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imágenes/libros3.jpeg");
    background-size: cover; 
    background-position: center center;         
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-family: cursive;
    color: rgb(0, 217, 255);
    font-size: 3em;
    text-align: center;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}Z


header .navegación{

    width: 1000px;
    margin: 30px auto;
    background: #fff ;
}

.navegación ul{
    list-style: none;
}

.menu > li{
    /* position: relative; */
    display: inline-block;
}

.menu > li  > a {
    display: block;
    padding: 15px 20px;
    color: #0ce1f4;
    font-family: 'Open sans';
}

.menu li a:hover{
    color: green;
    transition: all .3s ;
}





header a{
    padding: 5px 12px;
    text-decoration:oklab(from color l a b);
    font-weight: bold;
    font-size: 24px;
    color: rgb(7, 238, 241);
} */

 header a:hover{
    color: rgb(0, 0, 255);
}


.menu > li{
    position: relative;
    display: inline-block;
    background: #979797 ;

}

.menu > li  > a {
    display: block;
    padding: 15px 20px;
    color: #0c14f4;
    font-family: 'Open';
}

.menu li a:hover{
    color: rgb(4, 204, 249);
    transition: all .3s ;
}


.submenu{
    position: absolute;
    background: #979797;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}


.submenu li a{
    display: block;
    padding: 15px;
    color: #0c14f4;
    font-family: 'bold';
    
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* Introducción */

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/libroycafé.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#intro h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: 100px;
    
}

#cabecera button{
    font-size: 1.75em
}


#presentación {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imágenes/libros-estanterías.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

#presentación .container{
    text-align: center;
    padding: 200px 12px;
}

#presentación .texto{
    width: 80%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: cursive; 
    font-size: 1.2em;
    
}

#nuestras-secciones{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestras-secciones .container{
    padding: 150px 12px;
}

#nuestras-secciones h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestras-secciones p{
    display: none;
}

#nuestras-secciones .carta{
    background-position: center center;
    background-size: cover;
    height: 400px;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/alas-de-sangre.webp");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/spiderman.webp");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/dragon-ball.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/");

}


/* Subsección Libros */

#Libros {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imágenes/dragónnegro.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  

#Libros .container{
    display: flex;
    justify-content: space-evenly;
    
}

#Libros .texto{
    width: 80%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 162, 0);
    font-family: cursive; 
    font-size: 1.2em;
    
}

#Libros h2{
    margin-top: 0px;
    color: rgb(255, 162, 0);
}


#Libros .color-libros{ 
    color:rgb(255, 0, 0);
    font-family: cursive; 
                    
}

#Libros .img-container{
    background-image: url("Imágenes/alas-de-sangre.png");
    background-size: cover;
    background-position:top;
    height: 700px;
    width: 600px; 
}

#Libros .img-container .botón{
    background-color: rgb(255, 0, 0);
    color:rgb(255, 162, 0);
    background-position: center center;
  }



#Libros .img-container .botón:hover{
    background-color: rgb(255, 162, 0); 
    color:rgb(255, 0, 0);
    background-position: center center;
  }


/* Subsección Cómics */


#Comics {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imágenes/stan-lee-.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  

#Comics .container{
    display: flex;
    justify-content: space-evenly;
    
}




#Comics h2{
    margin-top: 0px;
    color: rgb(0, 255, 255);
}


#Comics .color-comics{ 
    color:rgb(255, 0, 0);
    font-family: cursive; 
                    
}

#Comics .img-container{
    background-image: url("Imágenes/spiderman.webp");
    background-size: cover;
    background-position:top;
    height: 700px;
    width: 600px; 
}

#Comics .botón{
    background-color: rgb(0, 17, 252);
    color:rgb(255, 0, 0);
    background-position: center center;
  }



#Comics .botón:hover{
    background-color: rgb(255, 0, 0); 
    color:rgb(0, 21, 255);
    background-position: center center;
  }



#Mangas {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imágenes/dragon-ball-4.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  

#Mangas .container{
    display: flex;
    justify-content: space-evenly;
    
}

#Mangas .texto{
    width: 80%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 162, 0);
    font-family: cursive; 
    font-size: 1.2em;
    
}

#Mangas h2{
    margin-top: 0px;
    color: rgb(255, 162, 0);
}


#Mangas .color-libros{ 
    color:rgb(255, 0, 0);
    font-family: cursive; 
                    
}

#Mangas .img-container{
    background-image: url("Imágenes/akira.webp");
    background-size: cover;
    background-position:top;
    height: 700px;
    width: 600px; 
}

#Mangas .img-container .botón{
    background-color: rgb(255, 0, 0);
    color:rgb(255, 162, 0);
    background-position: center center;
  }



  

  #Frases{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/hombre-escribiendo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Frases .container{
    padding: 0;
    margin: 2;
    display: flex;
    justify-content: space-evenly;
    
}

#Frases h2{
    font-size: 4em;
    color: rgb(255, 162, 0);
    background-position: center center;
    
}



#Frases .texto{
    width: 80%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 162, 0);
    font-family: cursive; 
    font-size: 1.7em;        
}

#Frases .firma {        
        width: 80%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 162, 0);
        font-family: cursive; 
        font-size: 2em;        
    }



/* Formulario de Formularios */


#Contacto{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imágenes/libros4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.Formulario{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.Formulario h2{
    margin-bottom: px;
    font-size: 50px;
    background-color: rgb(1, 30, 251);
    color:#ffffff ;
}
.Formulario p{
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
    background-color: rgb(1, 30, 251);
    color:#ffffff ;

}
.Formulario a{
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(1, 30, 251);
    color:#ffffff ;
    font-weight: 700;
}
.Formulario a i{
    color: rgb(0, 13, 255);
    margin-right: 10px;
}
.Formulario form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.Formulario form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.Formulario .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(21, 0, 255);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.Formulario .btn-enviar:hover{
    background: #01f5e5;
    color: #0c14f4;
}

#Final{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/libroycafé.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }


#Final h2{
        color: white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style:oblique;
    }

#Final p{
        color: white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style:oblique;
    }





/* Visión de Escritorio */

@media (min-width: 850px){
   
    header{
        background-color: rgb(255, 255, 255);
        background-image:linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("Imágenes/libros4.jpeg");
        background-size: cover; 
        background-position: center center;
        border-radius: 15px;
      
    }
    
    header .logo{
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        font-family: cursive;
        color: rgb(0, 217, 255);
        font-size: 3em;
        text-align: center;
    }
    
    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    header .navegación{
    
        width: 1000px;
        margin: 30px auto;
        
        background-position: center left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navegación ul{
        list-style: none;
       
    }
    
    .menu > li{
        position: relative;
        display: inline-block;
        background: #979797 ;

    }
    
    .menu > li  > a {
        display: block;
        padding: 15px 20px;
        color: #0c14f4;
        font-family: 'Open';
    }
    
    .menu li a:hover{
        color: rgb(4, 204, 249);
        transition: all .3s ;
    }


    .submenu{
        position: absolute;
        background: #979797;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
    }


    .submenu li a{
        display: block;
        padding: 15px;
        color: #0c14f4;
        font-family: 'bold';
        
    }

    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;
    }

    #intro{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/libroycafé.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #intro h1{
        font-size: 8em;
    }

    #presentación {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("Imágenes/libros-estanterías.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }    
    #presentación .container{
        display: flex;
        justify-content: space-evenly;
    }

    #presentación .texto{
        width: 80%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: cursive; 
        font-size: 1.2em;
        
    }

    #presentación h2{
        margin-top: 0px;
    }

    #presentación .img-container{
        background-image: url("Imágenes/libros4.jpeg");
        background-size: cover;
        background-position:top;
        height: 700px;
        width: 600px; 
        opacity: 0.8;
    }

    
    

    #nuestras-secciones .Secciones{
        display: flex;
        justify-content: center;
        

    }

    #nuestras-secciones p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-secciones h2{
        font-size: 4em;
    }

    #nuestras-secciones h3{
        margin-top: 50px;
        color: yellow;
        padding: 50px;
    }

    #nuestras-secciones .carta{
        padding: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: 2px 2px 10px rgba(0,0,0,0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/alas-de-sangre.webp");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/spiderman.webp");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/dragon-ball.jpg");

    }

    .carta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/hombre-escribiendo.jpeg");

    }

/* Subsección Libros */

    #Libros {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("Imágenes/dragónnegro.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      

    #Libros .container{
        display: flex;
        justify-content: space-evenly;
        
    }

    #Libros .texto{
        width: 80%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 162, 0);
        font-family: cursive; 
        font-size: 1.2em;
        
    }

    #Libros h2{
        margin-top: 0px;
        color: rgb(255, 162, 0);
    }


    #Libros .color-libros{ 
        color:rgb(255, 0, 0);
        font-family: cursive; 
                        
    }

    #Libros .img-container{
        background-image: url("Imágenes/alas-de-sangre.png");
        background-size: cover;
        background-position:top;
        height: 700px;
        width: 600px; 
    }
    
    #Libros .img-container .botón{
        background-color: rgb(255, 0, 0);
        color:rgb(255, 162, 0);
        background-position: center center;
      }

    
    
    #Libros .img-container .botón:hover{
        background-color: rgb(255, 162, 0); 
        color:rgb(255, 0, 0);
        background-position: center center;
      }


    /* Subsección Cómics */


    #Comics {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("Imágenes/stan-lee-.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      

    #Comics .container{
        display: flex;
        justify-content: space-evenly;
        
    }

    

    #Comics h2{
        margin-top: 0px;
        color: rgb(0, 255, 255);
    }


    #Comics .color-comics{ 
        color:rgb(255, 0, 0);
        font-family: cursive; 
                        
    }

    #Comics .img-container{
        background-image: url("Imágenes/spiderman.webp");
        background-size: cover;
        background-position:top;
        height: 700px;
        width: 600px; 
    }

    #Comics .video video {
        width: 500px;
        height: 300px;
        object-fit: contain;
      }
    
    #Comics .botón{
        background-color: rgb(0, 17, 252);
        color:rgb(255, 0, 0);
        background-position: center center;
      }

    
    
    #Comics .botón:hover{
        background-color: rgb(255, 0, 0); 
        color:rgb(0, 21, 255);
        background-position: center center;
      }



    #Mangas {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("Imágenes/dragon-ball-4.webp");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      

    #Mangas .container{
        display: flex;
        justify-content: space-evenly;
        
    }

    #Mangas .texto{
        width: 80%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 162, 0);
        font-family: cursive; 
        font-size: 1.2em;
        
    }

    #Mangas h2{
        margin-top: 0px;
        color: rgb(255, 162, 0);
    }


    #Mangas .color-libros{ 
        color:rgb(255, 0, 0);
        font-family: cursive; 
                        
    }

    #Mangas .img-container{
        background-image: url("Imágenes/akira.webp");
        background-size: cover;
        background-position:top;
        height: 700px;
        width: 600px; 
    }
    
    #Mangas .img-container .botón{
        background-color: rgb(255, 0, 0);
        color:rgb(255, 162, 0);
        background-position: center center;
      }

    

      

    #Frases{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imágenes/hombre-escribiendo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #Frases .container{
        padding: 0;
        margin: 2;
        display: flex;
        justify-content: space-evenly;
        
    }

    #Frases h2{
        font-size: 4em;
        color: rgb(255, 162, 0);
        background-position: center center;
        
    }

    

    #Frases .texto{
        width: 80%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 162, 0);
        font-family: cursive; 
        font-size: 1.7em;        
    }

    #Frases .firma {        
            width: 80%;
            max-width: 600px;
            text-align: initial;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: rgb(255, 162, 0);
            font-family: cursive; 
            font-size: 2em;        
        }





    #Final{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            height: 90vh;
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("Imágenes/libroycafé.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }


    #Final h2{
            color: white;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style:oblique;
        }

    #Final p{
            color: white;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style:oblique;
        }
  
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}



